<app-navbar></app-navbar>
<md-card fxLayout="column" class="" fxFlex="90%">
  <md-card-header fxLayout="row" fxLayoutAlign="space-between">
    <md-card-title>
      <h2>Correspondências entregues</h2>
    </md-card-title>
    <!--<form>
      <md-select placeholder="Filtrar correspondências" [(ngModel)]="filter" name="filter">
        <md-option *ngFor="let filter of filters" [value]="filter.value" (onSelect)="getCorrespondencies(filter)">
          {{ filter.name }}
        </md-option>
      </md-select>
    </form>-->
  </md-card-header>
  <md-card-content>
    <ngx-datatable
          class="material"
          [messages]="messages"
          [rows]="correspondences"
          [columnMode]="'force'"
          [columns]="columns"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="5"
          [selectCheck]="checkSelectable"
          [selected]="selected"
          [selectionType]="'checkbox'">

        <ngx-datatable-column
            [width]="70"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="Data">
          <template let-row="row" ngx-datatable-cell-template>
            {{ row.date | amDateFormat:'DD/MM/YYYY' }}
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Remetente">
          <template let-row="row" ngx-datatable-cell-template>
            {{ row.sender }}
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Destinatário">
          <template let-row="row" ngx-datatable-cell-template>
            {{ row.receiver }}
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Observações">
          <template let-row="row" ngx-datatable-cell-template>
            {{ row.note }}
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Impresso">
          <template let-row="row" ngx-datatable-cell-template>
            <md-chip-list>
              <md-chip [ngClass]="{ 'not-printed': !row.printed }" selected="false">
                {{ row.printed ? "Impresso" : "Não impresso"  }}
              </md-chip>
            </md-chip-list>
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" >
          <template let-row="row" ngx-datatable-cell-template>
            <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item (click)="getRelatorio(row)">
                <md-icon>print</md-icon>
                <span>Relatório de entrega</span>
              </button>
            </md-menu>
          </template>
        </ngx-datatable-column>
    </ngx-datatable>
  </md-card-content>
  <md-card-actions fxLayout="row" fxLayoutAlign="space-between">
    <button md-button (click)="goBack()">Voltar</button>
    <button (click)="getRelatorio()" md-raised-button color="primary" [disabled]="selected.length < 1"> <i class="material-icons">print</i> Relatório de entrega </button>
  </md-card-actions>
</md-card>