<app-navbar></app-navbar>

<md-card class="not-found" fxFlexAlign="center" fxFlex="90%">
  <img src="/assets/images/404.png" alt="Not found imagem" >
  <div fxLayoutAlign="center" fxFlex="100%">
    <button md-mini-fab color="warn" fxFlexAlign="center" routerLink="/correspondencias">
      <md-icon class="material-icons">home</md-icon>
    </button>
  </div>
</md-card >