<md-toolbar color="primary">
  <a href="" routerLink="/correspondencias">MEDPLAN</a>
  <span class="fill-remaing-space"></span>
  <a href="" routerLink="/entrega">ENTREGA</a>
  <a href="" routerLink="/relatorio">RELATÓRIOS</a>
</md-toolbar>