<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" class="login">
  <md-card flex fxLayout="column" fxLayoutAlign="center">
    <img src="./assets/images/medplan-logo.png" alt="logo medplan" class="medplan-logo" fxFlexAlign="center">
    <form action="" name="login" (ngSubmit)="login()" method="POST">
      <md-input-container  class="full-width login-input">
        <input [disabled]="loading" [(ngModel)]="user.login" type="text" md-input placeholder="Nome de usuário" name="login" autofocus="true">
      </md-input-container>

      <md-input-container  class="full-width login-input">
        <input [disabled]="loading" [(ngModel)]="user.senha" type="password" md-input placeholder="Senha" name="senha">
      </md-input-container>

      <div fxFlex="100%">
        <button [disabled]="loading" md-raised-button color="medplan" class="full-width">Entrar</button>
      </div>
    </form>
  </md-card>
</div>