<app-navbar></app-navbar>
<md-card class="" fxFlex="90%">
  <md-card-header>
    <md-card-title fxLayout="row" fxLayoutAlign="space-between">
      <h2>Cadastrar correspondência</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-progress-spinner  *ngIf="loading" mode="indeterminate" class="loading"></md-progress-spinner>
    <form name="protoForm" *ngIf="!loading">
        <!--<input md-input name="date" placeholder="Data" type="date" [(ngModel)]="model.date">-->
      <md2-datepicker class="full-width" name="date" placeholder="Data de recebimento" type="date" [(ngModel)]="model.date" format="DD/MM/YYYY"></md2-datepicker>

      <md-input-container class="full-width">
        <input md-input name="sender" placeholder="Remetente" type="text" [(ngModel)]="model.sender">
      </md-input-container>

      <md-input-container class="full-width">
        <input md-input name="receiver" placeholder="Destinatário" type="text" [(ngModel)]="model.receiver">
      </md-input-container>

      <md-input-container class="full-width">
        <textarea md-input name="note" placeholder="Observações" [(ngModel)]="model.note"></textarea>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions fxFlexAlign="end">
    <button md-raised-button (click)="createCorrespondence()"  [disabled]="loading || !formValid()" color="primary">Salvar</button>
  </md-card-actions>
</md-card>

<li *ngFor="let cp of correspondences">{{ cp.sender }} {{ cp.receiver }}</li>