<header>
  <img src="/assets/images/medplan-logo.png" alt="" height="50px" class="logo">
  <span></span>
  <h5> RELATÓRIO DE ENTREGA DE CORRESPONDÊNCIAS</h5>
  <h5> Data {{ date | json }} </h5>
</header>
<main class="main">
  <table border="1px" class="table-report">
    <thead>
      <tr>
        <th>Data</th>
        <th>Remetente</th>
        <th>Destinatário</th>
        <th>Administração</th>
        <th>Assinatura do Destinatário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let correspondence of correspondences">
        <td>{{ correspondence.date }}</td>
        <td>{{ correspondence.sender }}</td>
        <td>{{ correspondence.receiver }}</td>
        <td class="signature">
          <span class="line"></span>
        </td>
        <td class="signature">
          <span class="line"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn-fab" md-fab color="primary" (click)="print()">
    <i class="material-icons">print</i>
  </button>
</main>