header{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  position: relative;
  justify-content: space-between;
  .logo{
    height: 30px;
    position: absolute;
    top: 15px;
    left: 0px
  }
}
.main{
  margin-top: 10px;
}
.table-report{
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border: none;
  width: 97%;
  margin: 0 auto;
  th, td{
    border: none;
    text-align: left;
    border-bottom-width: 90%;
    padding: 5px 0px;
    vertical-align: bottom;
  }
  .signature{
    position: relative;
    // border-bottom: 1px solid black;
    &:after{
      position: absolute;
      content: "";
      width: 90%;
      height: 1px;
      border-bottom: 1px solid black;
    }
  }
}

.btn-fab{
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: -1;
  @media print{
    display: none !important;
  }
}