/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '../node_modules/@swimlane/ngx-datatable/release/datatable.css';
@import '../node_modules/@swimlane/ngx-datatable/release/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';

body, html {
  margin: 0px !important;
  padding: 0px !important;
  /*height: 100%;*/
  background: #eee;
}

md-card{
  margin: 0 auto;
}

.datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
  display: flex;
  align-items: center;
}

md-toolbar{
  margin-bottom: 55px;
}

h1,h2{
  font-weight: 400;
}

.datatable.material .empty-row{
  display: flex;
  justify-content: center;
  align-items: center;
}